#ignore files
ubuntu-miner.zip
miner.log
qitmeer-miner
qitmeer-miner.exe
re
qitmeer.conf
CA.cert
start.sh
lib/cuckoo/target
cuckatoo/cuckatoo
main
lib/libcuckoo.dylib
lib/cuckoo/Cargo.lock
lib/libcuckoo.a
solo.conf
pool.conf

libcuckoo.dylib
.idea/
mac-miner
win-miner.exe
libOpenCL.zip
linux-miner
lib/opencl/*
linux-miner.zip
mac-miner.zip
win-miner.zip
libcuckoo.zip
.DS_Store
*.zip
*.tar.gz
*_checksum.txt
asic/test_meer
test_meer
asic/a.out
a.out
win-miner
solo1.conf
mac_miner
miner
